name: OWASP ZAP Security Scan

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the web application

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Start application
        run: |
          docker compose up -d
          echo "Waiting for database to start..."
          sleep 10
          docker compose exec -T app npx prisma db push --accept-data-loss
          echo "Waiting for the application to become ready..."
          timeout 300 bash -c 'while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' localhost:3000)" != "200" && "$(curl -s -o /dev/null -w ''%{http_code}'' localhost:3000)" != "302" && "$(curl -s -o /dev/null -w ''%{http_code}'' localhost:3000)" != "401" ]]; do sleep 5; done' || false
          echo "Application is up!"

      - name: Get network IP
        id: ip
        run: echo "IP=$(hostname -I | awk '{print $1}')" >> $GITHUB_OUTPUT

      - name: ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.12.0
        with:
          target: "http://${{ steps.ip.outputs.IP }}:3000"
          cmd_options: '-a'
          allow_issue_writing: false
